## Exercise 1: MickeyMouse ✅

In [52]:
NoTuple = []
for i in range(1, 101):
    if i%5 == 0 and i%3 == 0:
#        print('MickeyMouse')
        NoTuple.append('MickeyMouse')
    elif i%5 == 0:
#        print('Mouse')
        NoTuple.append('Mouse')
    elif i%3 == 0:
#        print('Mickey')
        NoTuple.append('Mickey')    
    else:
#        print(i)
        NoTuple.append(i)
print(NoTuple)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

In [53]:
for i in range(len(NoTuple)):
    if NoTuple[i] == 'Mickey':
        NoTuple[i] = 'Donald'
    elif NoTuple[i] == 'Mouse':
        NoTuple[i] = 'Duck'
print(NoTuple)

[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

## Exercise 2: Swap-Function ✅

In [55]:
def my_function(a, b):
        return b, a

x = 10
y = 5

my_function(x, y)

print(my_function(x, y))

(5, 10)

## Exercise 3: Computing distance ✅

In [68]:
from math import sqrt

def distance(a, b):
    return sqrt((a[0]-b[0]) **2 + (a[1]-b[1]) **2)
 
w = (0, 3)  
v = (4, 0)

distance(w, v)

5.0

## Exercise 4: Counting letters ✅

In [69]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [126]:
def counting(M, s):
    counter = 0
    for e in s.lower():
            if e == M:
                counter += 1
    print(counter)
                
            

counting('m', s)

12

## Exercise 5: Isolating the unique ✅

In [1]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [2]:
def unique(l):
    list = ([])
    for i in l:
        if i not in list:
            list.append(i)
    return list
      
print(unique(l))

[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]

## Exercise 6: Combination of functions ✅

In [23]:
def square(s):
    return s **2

def cube(s):
    return s **3

def sixth(s):
    return square(cube(s))

print(sixth(2))

64

## Exercise 7: Cubes ✅

In [31]:
def cube_loop():
    list = ([])
    for i in range(11):
        list.append(i **3)
    return list

print(cube_loop())

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [49]:
def cube_list():
    list = [*range(11)]
    cube_list = [(i **3)for i in list]
    return cube_list
    
print(cube_list())

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise 8: Nested list comprehension ❗️

In [125]:
triple = ([(3,4,5)])
more_triple = [(a, b, c) for a  in range(1, 100) for b in range(1, 100) for c in range(1, 100) if a **2 + b **2 == c ** 2]


## need to remove the duplicates

print(more_triple)
print(len(more_triple))

[(3, 4, 5), (4, 3, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 6, 10), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (11, 60, 61), (12, 5, 13), (12, 9, 15), (12, 16, 20), (12, 35, 37), (13, 84, 85), (14, 48, 50), (15, 8, 17), (15, 20, 25), (15, 36, 39), (16, 12, 20), (16, 30, 34), (16, 63, 65), (18, 24, 30), (18, 80, 82), (20, 15, 25), (20, 21, 29), (20, 48, 52), (21, 20, 29), (21, 28, 35), (21, 72, 75), (24, 7, 25), (24, 10, 26), (24, 18, 30), (24, 32, 40), (24, 45, 51), (24, 70, 74), (25, 60, 65), (27, 36, 45), (28, 21, 35), (28, 45, 53), (30, 16, 34), (30, 40, 50), (30, 72, 78), (32, 24, 40), (32, 60, 68), (33, 44, 55), (33, 56, 65), (35, 12, 37), (35, 84, 91), (36, 15, 39), (36, 27, 45), (36, 48, 60), (36, 77, 85), (39, 52, 65), (39, 80, 89), (40, 9, 41), (40, 30, 50), (40, 42, 58), (40, 75, 85), (42, 40, 58), (42, 56, 70), (44, 33, 55), (45, 24, 51), (45, 28, 53), (45, 60, 75), (48, 14, 50), (48, 20, 52), (48, 36, 60), (48, 55, 73), (48, 64, 80), (51, 68, 85), (52, 39, 65), (54, 72, 90), (55, 48, 73), (56, 33, 65), (56, 42, 70), (57, 76, 95), (60, 11, 61), (60, 25, 65), (60, 32, 68), (60, 45, 75), (60, 63, 87), (63, 16, 65), (63, 60, 87), (64, 48, 80), (65, 72, 97), (68, 51, 85), (70, 24, 74), (72, 21, 75), (72, 30, 78), (72, 54, 90), (72, 65, 97), (75, 40, 85), (76, 57, 95), (77, 36, 85), (80, 18, 82), (80, 39, 89), (84, 13, 85), (84, 35, 91)]
100

## Exercise 9: Normalization ✅

In [122]:
def normalizer(a):
    list = ([])
    for i in a:
        list.append(i/max(a))
    return list

a = (3,4,5)

normalizer(a)

[0.6, 0.8, 1.0]