## Exercise 1: MickeyMouse ✅

In [52]:
NoTuple = []
for i in range(1, 101):
    if i%5 == 0 and i%3 == 0:
#        print('MickeyMouse')
        NoTuple.append('MickeyMouse')
    elif i%5 == 0:
#        print('Mouse')
        NoTuple.append('Mouse')
    elif i%3 == 0:
#        print('Mickey')
        NoTuple.append('Mickey')    
    else:
#        print(i)
        NoTuple.append(i)
    

print(NoTuple)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

TypeError: 'list' object is not callable

In [39]:
for i in range(len(NoTuple)):
    if NoTuple[i] == 'Mickey':
        NoTuple[i] = 'Donald'
    elif NoTuple[i] == 'Mouse':
        NoTuple[i] = 'Duck'
print(NoTuple)

[1, 2, 'Donald', 4, 'Duck', 'Donald', 7, 8, 'Donald', 'Duck', 11, 'Donald', 13, 14, 'MickeyMouse', 16, 17, 'Donald', 19, 'Duck', 'Donald', 22, 23, 'Donald', 'Duck', 26, 'Donald', 28, 29, 'MickeyMouse', 31, 32, 'Donald', 34, 'Duck', 'Donald', 37, 38, 'Donald', 'Duck', 41, 'Donald', 43, 44, 'MickeyMouse', 46, 47, 'Donald', 49, 'Duck', 'Donald', 52, 53, 'Donald', 'Duck', 56, 'Donald', 58, 59, 'MickeyMouse', 61, 62, 'Donald', 64, 'Duck', 'Donald', 67, 68, 'Donald', 'Duck', 71, 'Donald', 73, 74, 'MickeyMouse', 76, 77, 'Donald', 79, 'Duck', 'Donald', 82, 83, 'Donald', 'Duck', 86, 'Donald', 88, 89, 'MickeyMouse', 91, 92, 'Donald', 94, 'Duck', 'Donald', 97, 98, 'Donald', 'Duck']

## Exercise 2: Swap-Function ✅

In [40]:
def my_function(a, b):
        return b, a

x = 7
y = 5

my_function(x, y)

print(my_function(x, y))

(5, 7)

## Exercise 3: Computing distance ✅

In [41]:
from math import sqrt

def distance(a, b):
    return sqrt((a[0]-b[0]) **2 + (a[1]-b[1]) **2)
 
w = (0, 3)  
v = (4, 0)

distance(w, v)

5.0

## Exercise 4: Counting letters ✅

In [42]:
s="Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"

In [43]:
def counting(M, s):
    counter = 0
    for i in s.lower():
            if i == M:
                counter += 1
    print(counter)
                
            

counting('m', s)

12

## Exercise 5: Isolating the unique ✅

In [44]:
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
 85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
 1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
 45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

In [57]:
def unique(l):
    list1 = ([])
    for i in l:
        if i not in list1:
            list1.append(i)
    return list1
      
print(unique(l))

[36, 45, 58, 3, 74, 96, 64, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85, 47, 56, 42, 84, 88, 55, 20, 54, 8, 51, 79, 81, 57, 37, 91, 1, 66, 9, 89, 50, 95, 90, 98, 39, 16, 82, 92, 41, 30, 34, 94, 5, 72, 87, 75, 53]

## Exercise 6: Combination of functions ✅

In [46]:
def square(s):
    return s **2

def cube(s):
    return s **3

def sixth(s):
    return square(cube(s))

print(sixth(2))

64

## Exercise 7: Cubes ✅

In [47]:
def cube_loop():
    list2 = ([])
    for i in range(11):
        list2.append(i **3)
    return list2

print(cube_loop())

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [48]:
def cube_list():
    list3 = [*range(11)]
    cube_list = [(i **3)for i in list3]
    return cube_list
    
print(cube_list())

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise 8: Nested list comprehension ❗️

In [77]:
triple = [[]]
more_triple = [(a, b, c] for a  in range(1, 100) for b in range(1, 100) for c in range(1, 100) if a **2 + b **2 == c ** 2]

more_triple = list(dict.fromkeys(more_triple))

print(list(set(more_triple)))

TypeError: unhashable type: 'list'

## Exercise 9: Normalization ✅

In [51]:
def normalizer(a):
    list4 = ([])
    for i in a:
        list4.append(i/max(a))
    return list4

a = (3,4,5)

normalizer(a)

[0.6, 0.8, 1.0]